
/* post thumbnails */ 

.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

.well {
    height: 280px;
    padding: 0px 20px;
    font-size: 18px;
    background: -webkit-linear-gradient(white, #E6E6E6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #E6E6E6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #E6E6E6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #E6E6E6); /* Standard syntax (must be last) */
}

/* carousel edits */ 
.carousel {
    width: 100%;
    max-height: 175px!important
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: #000
}

.carousel-control.left,.carousel-control.right {
    background-image: none
}

.carousel-indicators li {
    visibility: hidden
}

/* Nav Bar Begins */
.glyphicon {
    margin-right: 10px
}

.panel-body {
    padding: 0
}

.panel-body table tr td {
    padding-left: 15px
}

.panel-body .table {
    margin-bottom: 0
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff
}

.with-nav-tabs.panel-primary .nav-tabs > .open > a,.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent
}

.with-nav-tabs.panel-primary .nav-tabs > li.active > a,.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #0CF;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #0CF;
    border-color: #3071a9
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9
}

/* nav bar */
.navbar-custom {
    background-color: #fff;
    border-color: #eee
}

.navbar-custom .navbar-brand {
    color: silver
}

.navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus {
    color: #a7a7a7;
    background-color: transparent
}

.navbar-custom .navbar-text {
    color: silver
}

.navbar-custom .navbar-nav > li > a {
    color: silver
}

.navbar-custom .navbar-nav > li > a:hover,.navbar-custom .navbar-nav > li > a:focus {
    color: #5C5C5C;
    background-color: transparent
}

.navbar-custom .navbar-nav > .active > a,.navbar-custom .navbar-nav > .active > a:hover,.navbar-custom .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #eee
}

.navbar-custom .navbar-nav > .disabled > a,.navbar-custom .navbar-nav > .disabled > a:hover,.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent
}

.navbar-custom .navbar-toggle {
    border-color: #fff
}

.navbar-custom .navbar-toggle:hover,.navbar-custom .navbar-toggle:focus {
    background-color: #ddd
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ccc
}

.navbar-custom .navbar-collapse,.navbar-custom .navbar-form {
    border-color: #ededed
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

.navbar-custom .navbar-nav > .open > a,.navbar-custom .navbar-nav > .open > a:hover,.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #eee;
    color: #fff
}

.navbar-custom .navbar-nav > .open > a .caret,.navbar-custom .navbar-nav > .open > a:hover .caret,.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: silver;
    border-bottom-color: silver
}

@media (max-width: 767) {
.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: silver
}

.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent
}

.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #eee
}

.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent
}
}

.navbar-custom .navbar-link {
    color: silver
}

.navbar-custom .navbar-link:hover {
    color: #fff
}

/* nav bar 2 */
.offscreen {
    position: absolute;
    top: -30em;
    left: -300em
}

div#hmenu {
    margin: 0;
    padding: 1.1em 0;
    background: #5BC0DE;
    width: 100%;
    text-align: center
}

div#hmenu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

div#hmenu ul li {
    margin: 0;
    padding: 0;
    display: inline
}

div#hmenu ul a:link {
    margin: 0;
    padding: .3em .4em;
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    color: #fff
}

div#hmenu ul a:visited {
    margin: 0;
    padding: .3em .4em;
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    color: #fff
}

div#hmenu ul a:active {
    margin: 0;
    padding: .3em .4em;
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    color: silver
}

div#hmenu ul a:hover {
    margin: 0;
    padding: .3em .4em;
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    color: #ECF3FA;
    background-color: #0CF
}

/* dropdown side menu */
.clickable {
    cursor: pointer
}

.clickable .glyphicon {
    background: rgba(0,0,0,0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span {
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px
}

a.clickable {
    color: inherit
}

a.clickable:hover {
    text-decoration: none
}

/* end side nav menu  */
/* start blog header css */
.post {
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC
}

.post img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px)
}

.post .content {
    padding: 15px
}

.post .author {
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px
}

.post .post-img-content {
    height: 196px;
    position: relative
}

.post .post-img-content img {
    position: absolute
}

.post .post-title {
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative
}

.post .post-title b {
    background-color: rgba(51,51,51,0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px
}